:root {
  --azul: #2a2a2b;
  --preto: black;
  --cinza: rgb(54, 54, 54);
  --branco: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  
  color: var(--cinza);
}

/* Layout base */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section {
  padding: 80px 0;
}

.section.dark {
  background: black
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  background: black;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  
}

#head {
  color: white;
}

.logo {
  color: var(--branco);
  font-size: 1.4rem;
}

.logo span {
  color: var(--azul);
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--cinza);
  transition: 0.3s;
}

.nav a:hover {
  color: var(--azul);
}

.hero {
  background-image: url(./fundoHero.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 20dvh;
  padding-right: 5dvh;
}

.face {
  height: 100dvh;
  width:80dvh;
  margin-top: 10dvh;
  margin-right: 10dvh;
  border-radius: 10px;
  opacity: .9;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.hero h2, h1 {
  font-size: 5rem;
  color:white;
}

.hero p {
  margin: 20px 0;
  max-width: 500px;
  color: white;
}

.btn, button{
  background: var(--azul);
  color: var(--branco);
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn, button:hover {
  opacity: 0.9;
}

#sobre {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px
}

h3, h4, .card p {
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.container h3{
  font-size: 200%;
}

.separator {
  width: 100%;
  height: 40dvh;
  background-image: url("./eye.jpg");
  background-size: cover;
  background-position: center;
  backdrop-clip: inherit;
  
}

.card {
  background: rgba(75, 75, 75, 0.8);
  padding: 25px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.card h4 {
  color: var(--branco);
  margin-bottom: 10px;
}

.container, .container a, .container h3{
color: rgb(54, 54, 54);
}

.footer {
  background:black;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

button{
  margin-top: 20px;
}


